footer
    section.home_footer
        .container
            .row
                .col-md-4.mt-5
                    h4 FULLSTACK VIETNAM
                    
                    p Mobile: (+84) 969689893
                        |
                        br
                        | Email: admin@fullstackvietnam.com
                        br
                        |Địa chỉ: 28 đường số 2 – CITY LAND – Phường 7 – Gò Vấp – HCM
                .col.mb-5.mt-5
                    .row
                        h4.link2 LINK
                    .row
                        .col-sm
                            ul.list-unstyled.md-0
                                li
                                    a(href="javascript:void(0)") Khóa học FrontEnd Master
                                li
                                    a(href="javascript:void(0)") Khóa học FullStack Developer
                                li
                                    a(href="javascript:void(0)") Khóa học Design chuyên nghiệp
                                li
                                    a(href="javascript:void(0)") Lịch khai giảng
                                li
                                    a(href="javascript:void(0)") Đăng ký Khóa học
                        .col-sm
                            ul.list-unstyled.md-0
                                li
                                    a(href="javascript:void(0)") Khóa học FrontEnd Master
                                li
                                    a(href="javascript:void(0)") Khóa học FullStack Developer
                                li
                                    a(href="javascript:void(0)") Khóa học Design chuyên nghiệp
                                li
                                    a(href="javascript:void(0)") Lịch khai giảng
                                li
                                    a(href="javascript:void(0)") Đăng ký Khóa học
                        .col-sm-auto.social
                            a.fa.fa-twitter(href="javascript:void(0)")
                            a.fa.fa-facebook-f(href="javascript:void(0)")
    .copyright
        .container
            .row
                .col-12.item
                    p Copyright 2018 by FullStack Vietnam
                    .input-group
                        input(type="text", name="" placeholder="Email của bạn")
                        button.btn.btn-send(type="submit") Gửi